* {
    font-family: sans-serif;
}

th {
    font-size: large;
}

table, td, tr, th  {
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 0.232);
    border-collapse: collapse;
    text-align: center;
}

thead tr:first-child, thead tr td:first-child {
    background-color: black;
    color: white;
}

#premium, #basic, #deluxe {
    background-color: rgb(80, 80, 80);
    color: white;
}

tr:nth-child(2n+1) {
    background-color: rgb(190, 190, 190);
}

caption {
    caption-side:bottom
}