h1, h2 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      text-align: center; 
      color: white;
      font-size: xx-large
  }

h1 {
    height: auto;
    padding: 20px;
    background-color: rgb(133, 0, 0);
    text-align: center; 
    font-size: xxx-large;

}

.card > p, .card button, footer > p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style:normal;
    font-variation-settings:
      "wdth" 100;
    font-size:x-large;
}

th, td {
    vertical-align:top;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-variation-settings:
      "wdth" 100;
    font-size:x-large;
}

footer{
    text-align: center;
}

footer > p{
    color: rgb(255, 255, 255);
}