h2 {
    /* font-family: "Open Sans", sans-serif; */
    /* font-optical-sizing: auto; */
    /* font-weight: 400; */
    /* font-style: normal; */
    /* font-variation-settings:
      "wdth" 100; */
      text-align: center; 
      color: white;
      font-size:xxx-large;
  }

h1 {
    height: auto;
    padding: 0.1%;
    /* background-color: rgb(133, 0, 0); */
    text-align: center; 
    font-size: xxx-large;

}

.card > p, .card button, footer > p {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style:normal;
    font-variation-settings:
      "wdth" 100;
    font-size:x-large;
}

th, td {
    vertical-align:top;
    font-family: "Open Sans", sans-serif;
    font-style:normal;
    font-variation-settings:
      "wdth" 100;
    font-size:x-large;
}

footer{
    text-align: center;
}

footer > p{
    color: rgb(255, 255, 255);
}