@media screen and (min-width: 1000px) {

    main {
        position: relative;
    }
    
    #data, #weather {
        position: absolute;
        background-color: rgba(255, 253, 246, 0.95);
        width: 40%;
    }

    #data {
        top: 5%;
        left: 5%;
    }

    #weather {
        bottom: 5%;
        right: 5%;
    }

    #weather-svg {
        display: none;
    }

    .fortaleza-subheading.weather::after {
        content: " ⛅";
    }
}