@media screen and (min-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr; 
    }
}

@media screen and (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
}

@media screen and (min-width: 1600px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
    }
}

@media screen and (min-width: 2000px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    }
}

@media screen and (min-width: 2400px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    }
}

@media only screen and (min-width: 40em) {
    nav{
        display: flex;
    }
    
    nav a{
        flex: auto;
        text-align: center;
        background-color: black;
        color: white;
        padding: 20px;
        text-decoration: none;
    }
    
    nav a:hover{
        background-color: rgb(133, 0, 0);
        text-decoration:overline;
    }
}